{#
/**
 * @file
 * Default theme implementation to display a view in a Calendar style.
 *
 * Default available variables :
 * - title: The title of this group of rows. May be empty.
 * - calendar: The calendar created in template preprocess.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: tells if default classes should be used on rows.
 * - options: custom variables from Calendar style settings.
 *   - filters: The date fields selected for this Calendar.
 *   - weekday_start: The day to start a calendar row.
 *   - display_rows: Wether or not to display default View results.
 *
 * @see template_preprocess_views_view_calendar()
 *
 * @ingroup themeable
 */
#}

{# Default skin/styles. #}
{{ attach_library ('calendar_view/calendar') }}

{#
/**
  * Use this block in your own theme to use your own library.
  * @see web/modules/custom/calendar_view/css/calendar-view.example.css
  *
  * @code
  * {% extends "views-view-calendar.html.twig" %}
  * {% block libraries %}
  *   {{ attach_library ('mytheme/calendar') }}
  * {% endblock %}
  * @endcode
  */
#}
{% block libraries %}
{% endblock %}


{{ attach_library('upanupbase/tabs_component') }}
{{ attach_library('upanupbase/calendar_list') }}
<div class="tabs-component" data-tab-attrs-set="false">
  <ul class="tabs-component__list">
    <li class="tabs-component__list-item">
      <a href="#panel--calendar">Calendar</a>
    </li>
    <li class="tabs-component__list-item">
      <a href="#panel--list">List</a>
    </li>
  </ul>
  <div class="tabs-component__panels">
    <div class="tabs-component__panel" id="panel--calendar">
      {% block calendars %}
      <div class="view-calendar">
        {{ calendars }}
      </div>
      {% endblock %}
    </div>
    <div class="tabs-component__panel" id="panel--list">
      {% block rows %}
      {% if options.display_rows == 0 %}{{ attach_library('upanupbase/calendar_no_list') }}{% endif %}
        <div class="view-results list-view">
          {% for row in rows %}
            {% set row_classes = [ default_row_class ? 'views-row'] %}
            <div{{ row.attributes.addClass(row_classes) }} data-calendar-view-day="{{ row.content['#row'].node__field_when_field_when_value|date('d') }}" data-calendar-view-month="{{ row.content['#row'].node__field_when_field_when_value|date('m') }}" data-calendar-list-result>
              {{- row.content -}}
            </div>
          {% endfor %}
        </div>
      {% endblock %}
    </div>
  </div>
</div>

{{ attach_library('upanupbase/tabs_component_mobile') }}
<div class="tabs-component" data-tabs-mobile="true" data-tab-attrs-set="false">
  <ul class="tabs-component__list">
    <li class="tabs-component__list-item">
      <a href="#panel--first">First</a>
    </li>
    <li class="tabs-component__list-item">
      <a href="#panel--second">Second</a>
    </li>
    <li class="tabs-component__list-item">
      <a href="#panel--third">Third</a>
    </li>
  </ul>
  <div class="tabs-component__panels">
    <div class="tabs-component__panel" id="panel--first">Content 1</div>
    <div class="tabs-component__panel" id="panel--second">Content 2</div>
    <div class="tabs-component__panel" id="panel--third">Content 3</div>
  </div>
</div>