{#
/**
 * @file
 * Theme override for a field based on the @stable field template. See that
 * file for full documentation.
 *
 * field_label supplies one additional variable:
 * - label_tag: The label wrapper tag as chosen in the field_label.
 *
 * This template won't used if your theme overrides field.html.twig. Modify
 * your own template to use the label_tag, e.g.:
 *
 *   <{{ label_tag|default('div') }}>
 *     {{ label }}
 *   </{{ label_tag|default('div') }}>
 *
 * @see field_label_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
{% set dqLength = items|length %}

<section class="dynamic-quicklinks">
  {% if dqLength > 1 %}
  <header class="dynamic-quicklinks__header">
    <ul class="dynamic-quicklinks__filter" role="tablist">
      {% for item in items %}
        <li role="presentation"><a role="tab" class="button button--default" href="#tab-{{ item.content['#paragraph'].field_title.value|clean_class }}" data-category="{{ item.content['#paragraph'].field_title.value }}" id="tab-{{ item.content['#paragraph'].field_title.value|clean_class }}" aria-controls="{{ item.content['#paragraph'].field_title.value|clean_class }}">{{ item.content['#paragraph'].field_title.value }}</a></li>
      {% endfor %}
    </ul>
  </header>
  {% endif %}
  <div class="dynamic-quicklinks__content">
    {% for item in items %}
    <div class="dynamic-quicklinks__section{% if dqLength <= 1%} is-active{% endif %}" data-category="{{ item.content['#paragraph'].field_title.value }}" id="{{ item.content['#paragraph'].field_title.value|clean_class }}" role="tabpanel" aria-labelledby="tab-{{ item.content['#paragraph'].field_title.value|clean_class }}">{{ item.content }}</div>
    {% endfor %}
  </div>
</section>
